.calendar {
    padding: 0px 10px 10px 10px;
}
.calendar_table {
    table-layout: fixed;
    width: 100%;
    height: 185px;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
}

.calendar_table th {
    height: 15px;
    font-weight: normal;
    background-color: #c7cedc;
}

.grid_table_headers th {
    padding: 5px 0 5px 0;
}

.grid_num_day {
    background-color: #8ca0c2;
    padding: 5px 0 5px 0;
    transition: .2s;
    color: white;

}

.grid_num_day:hover {
    background-color: #6880a8;
}

.grid_num_day.unactive {
    color: #777777;
    background-color: #d3dae2;
}

.grid_num_day.noPar {
    background-color: #dee3ec;
    color: #777777;
}

.grid_num_weeks {
    background-color: #c7d0dc;
    transition: .5s;
}

.grid_num_weeks {
    background-color: #c7d0dc;
    transition: .5s;
}

.grid_num_weeks:hover {
    background-color: #919ba9;
}

.blue {
    background-color: #c7cedc;
    color: white;
    transition: .2s;
}

.blue:hover {
    background-color: #6880a8;
}

.red {
    background-color: #ac5858;
    color: white;
    transition: .2s;
}

.red:hover {
    background-color: #9b4343;
}